
@media only screen and (min-width: 768px) {
    .modal-fotos {   
        max-width: 768px;
    }
  }

@media only screen and (max-width: 767px) {
    .modal-fotos {   
        max-width: 700px;
    }
}

@media only screen and (max-width: 700px) {
    .modal-fotos {   
        max-width: 600px;
    }
}

@media only screen and (max-width: 600px) {
    .modal-fotos {   
        max-width: 500px;
    }
}

@media only screen and (max-width: 500px) {
    .modal-fotos {   
        max-width: 400px;
    }
}

@media only screen and (max-width: 400px) {
    .modal-fotos {   
        max-width: 350px;
    }
}